*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* subscribe */
#Subscribe>img{
    width: 7%;
    margin-left: 20px;
    position: fixed;
    margin-top: 470px;
}


/* Navigation 2 css */

#Navigation2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    align-items: center;
    top: 0;
    position: fixed;
    
    background-color: white;
}


#Navigation2>div{
   display: flex;
   margin-left: 25px;
   margin-right: 25px;
}
#Navigation2>div:nth-child(2)>select{
    border: none
}
#Navigation2>div:nth-child(3)>input{
   padding: 10px;
   width: 400px; 
   border-radius: 5px;
   border: 1px solid grey;
   background-color: white;
   font-size: 17px;
}
#Navigation2>div:nth-child(3)>img{
   margin-left: -30px;
   width: 20px;
}
#Navigation2>div:nth-child(3)>input:hover{
    padding: 10px;
    width: 400px; 
    border-radius: 5px;
    border: 1px solid #313131;
    background-color: #eaeaea;
    font-size: 14px;
    transition: all 0.5s;
 }
#Navigation2>div:nth-child(4)>p{
    font-size: 13px;
    margin-left: 8px;
    cursor: pointer;
}

#Navigation2>div:nth-child(5)>p{
    font-size: 13px;
    margin-left: 8px;
    margin-top: 3px;
    cursor: pointer;
}
#Navigation2>div:nth-child(5)>p>a{
    text-decoration: none;
    color: black;
}
#Navigation2>div:nth-child(6)>p{
    font-size: 13px;
    margin-left: 8px;
    margin-top: 3px;
}
#Navigation2>div:nth-child(6)>p>a{
   text-decoration: none;
   color: black;
}

/* Banner css */
#banner{
   margin-top: 93px;
   width: 100%;
}
#banner>img{
width: 100%;
}
#categories{
   width: 75%;
   height: auto;
   margin: auto;
   margin-top: 50px;
   
}
#categories>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 25px;
    margin-top: 20px;
}
#categories>div>div{
    margin-top: -50px;
    text-align: center;
}
#categories>div>div>img{
    width: 100%;
    height: 70%;
    cursor: pointer;
}
#categories>div>div>img:hover{
   width: 95%;
   transition: all 0.5s;
}
#categories>div>div>h4{
    margin-top: 5px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3e4d60;
}
#categories>h1{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #4a4a4a;
}
#categories>p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height:17px;
    color: #959799;
    margin-top: 5px;
    margin-bottom: 70px;
}
#Offer1{
    width: 52%;
    height:90px;
    
    margin: auto;
    
    background-color: #ffdc93;
    border-radius: 5px;
    
    margin-bottom: 30px;
}
#Offer1>p{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height:18px;
    color: #313131;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
}
#Offer1>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    
}
#Offer1>div>img{
    margin-left: 30px;
    margin-top: 15px;
    width: 13%;
}
#Offer1>div>button{
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height:18px;
    color: #ffffff;
    background-color: #d11243;
    padding: 10px 16px;
    border-radius: 5px;
    border: 0px;
    margin-top: 15px;
}
#info1>button:nth-child(1){
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height:22px;
    color: #d11243;
    border: none;
    margin-bottom: -50px;
    padding: 5px 20px;
    background-color: white;
    margin-left: 645px;
    
    
}
#info1>div+button{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height:22px;
    color: #d11243;
    border: 1px solid #d11243;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: white;
    margin-left: 690px;
    margin-bottom: 30px;
}
#info1>div{
    width: 70%;
    height: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -17px;
}
#info1>div>h4{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height:24px;
    color: #4a4a4a;
    width: 130px;
    text-align: center;

}
#info1>div>h7{
    color: grey;
    width: 1px;
    
}

#Offer2>img{
   margin-left: 250px;
}
/* bestSellers */
#bestsellers{
    width: 75%;
    height: auto;
    
    margin: auto;
}
#bestsellers>h1{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height:24px;
    color: #4a4a4a;
    margin-top: 15px;
    margin-bottom:10px;
}
#bestsellers>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 20px;
    
}
#bestsellers>div>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    border-radius: 7px;
}
#bestsellers>div>div>img{
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}
#bestsellers>div>div>h4{
   margin-left: 10px;
   font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height:24px;
    color: #4a4a4a;
    margin-top: 10px;
    margin-bottom: 20px;
}
#bestsellers>div>div>p{
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height:17px;
     color: #727272;
     margin-top: 15px;
     margin-bottom: 5px;
}
#bets>div:nth-child(1){
    margin-left: 10px;
    display: flex;
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 600;
     line-height:21px;
     color: #4a4a4a;
     margin-top: 10px;
}
#bets>div:nth-child(1)>P+P{
    margin-left: 50px;
}
#bets>div:nth-child(2){
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    color: #d11243;
    align-items: center;
    margin-top: 10px;
}
#bets>div:nth-child(2)>h4{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 600;
     line-height:28px;
     color: #d11243;
    
}
#bets>div:nth-child(2)>button{
    font-family: 'Lato', sans-serif;
     font-size: 12px;
     font-weight: 600;
     line-height:21px;
     color: white;
     padding:5px 10px ;
     margin-right: 10px;
     background-color: #d11243;
     border: 0px;
     border-radius: 5px;
     cursor: pointer;
}
#bets>div:nth-child(2)>h3{
    font-family: 'Lato', sans-serif;
     font-size: 18px;
     font-weight: 600;
     line-height:36px;
     color: #d11243;
     margin-left: -155px;
}
#bets>hr+div{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
#bets>hr+div>P{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height:28px;
     color: #aeaeae;
     margin-left: 5px;
}
#bets>hr+div>h3{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 700;
     line-height:28px;
     color: #aeaeae;
     margin-left: 2px;
}
#bets>hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* boneless cuts */
#boneless{
    width: 75%;
    height: auto;
    
    margin: auto;
}
#boneless>h1{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height:24px;
    color: #4a4a4a;
    margin-top: 15px;
    margin-bottom:10px;
}
#boneless>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 20px;
    
}
#boneless>div>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    border-radius: 7px;
}
#boneless>div>div>img{
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}
#boneless>div>div>h4{
   margin-left: 10px;
   font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height:24px;
    color: #4a4a4a;
    margin-top: 10px;
    margin-bottom: 20px;
}
#boneless>div>div>p{
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height:17px;
     color: #727272;
     margin-top: 15px;
     margin-bottom: 5px;
}
#bones>div:nth-child(1){
    margin-left: 10px;
    display: flex;
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 600;
     line-height:21px;
     color: #4a4a4a;
     margin-top: 10px;
}
#bones>div:nth-child(1)>P+P{
    margin-left: 50px;
}
#bones>div:nth-child(2){
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    color: #d11243;
    align-items: center;
    margin-top: 10px;
}
#bones>div:nth-child(2)>h4{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 600;
     line-height:28px;
     color: #d11243;
    
}
#bones>div:nth-child(2)>button{
    font-family: 'Lato', sans-serif;
     font-size: 12px;
     font-weight: 600;
     line-height:21px;
     color: white;
     padding:5px 10px ;
     margin-right: 10px;
     background-color: #d11243;
     border: 0px;
     border-radius: 5px;
     cursor: pointer;
}
#bones>div:nth-child(2)>h3{
    font-family: 'Lato', sans-serif;
     font-size: 18px;
     font-weight: 600;
     line-height:36px;
     color: #d11243;
     margin-left: -155px;
}
#bones>hr+div{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
#bones>hr+div>P{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height:28px;
     color: #aeaeae;
     margin-left: 5px;
}
#bones>hr+div>h3{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 700;
     line-height:28px;
     color: #aeaeae;
     margin-left: 2px;
}
#bones>hr{
    margin-top: 5px;
    margin-bottom: 5px;
}


#Offer3{
    width: 52%;
    height:90px;
    
    margin: auto;
    display: flex;
    background-color: #fdeaed;
    border-radius: 5px;
    margin-top: 30px;
}
#Offer3>div:nth-child(1)>img{
   margin-top: 25px;
   margin-left: 15px;
   background-color: #feeff1;
   border-radius: 50%;
   padding: 5px;
}
#Offer3>div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Offer3>div:nth-child(2)>h4{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
#Offer3>div:nth-child(2)>p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}
#Offer3>div:nth-child(3){
    margin-left: 370px;
    margin-top: 20px;
}
#Offer3>div:nth-child(3)>p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: #d11243;
}
#categories1{
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 20px;
 }
 #categories1>div{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: repeat(3,auto);
     gap: 25px;
     
 }
 #categories1>div>div{
     margin-top: -50px;
     text-align: center;
 }
 #categories1>div>div>img{
     width: 100%;
     height: 70%;
     border-radius: 10px;
 }
 #categories1>div>div>h4{
     margin-top: 5px;
     font-family: 'Lato', sans-serif;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     color: #3e4d60;
 }
 #categories1>h1{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #4a4a4a;
    margin-bottom: 80px;
    
}
/* breakfast & Snacking Specails */
#breakfast{
    width: 75%;
    height: auto;
    
    margin: auto;
}
#breakfast>h1{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height:24px;
    color: #4a4a4a;
    margin-top: 15px;
    margin-bottom:10px;
}
#breakfast>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 20px;
    
}
#breakfast>div>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    border-radius: 7px;
}
#breakfast>div>div>img{
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}
#breakfast>div>div>h4{
   margin-left: 10px;
   font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height:24px;
    color: #4a4a4a;
    margin-top: 10px;
    margin-bottom: 20px;
}
#breakfast>div>div>p{
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height:17px;
     color: #727272;
     margin-top: 15px;
     margin-bottom: 5px;
}
#break>div:nth-child(1){
    margin-left: 10px;
    display: flex;
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 600;
     line-height:21px;
     color: #4a4a4a;
     margin-top: 10px;
}
#break>div:nth-child(1)>P+P{
    margin-left: 50px;
}
#break>div:nth-child(2){
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    color: #d11243;
    align-items: center;
    margin-top: 10px;
}
#break>div:nth-child(2)>h4{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 600;
     line-height:28px;
     color: #d11243;
    
}
#break>div:nth-child(2)>button{
    font-family: 'Lato', sans-serif;
     font-size: 12px;
     font-weight: 600;
     line-height:21px;
     color: white;
     padding:5px 10px ;
     margin-right: 10px;
     background-color: #d11243;
     border: 0px;
     border-radius: 5px;
     cursor: pointer;
}
#break>div:nth-child(2)>h3{
    font-family: 'Lato', sans-serif;
     font-size: 18px;
     font-weight: 600;
     line-height:36px;
     color: #d11243;
     margin-left: -155px;
}
#break>hr+div{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
#break>hr+div>P{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height:28px;
     color: #aeaeae;
     margin-left: 5px;
}
#break>hr+div>h3{
    font-family: 'Lato', sans-serif;
     font-size: 14px;
     font-weight: 700;
     line-height:28px;
     color: #aeaeae;
     margin-left: 2px;
}
#break>hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* check out our blog */
#blog{
    width: 75%;
    height: auto;
    
    margin: auto;
}
#blog>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
#blog>div:nth-child(1)>h1{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #4a4a4a;
}
#blog>div:nth-child(1)>p{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    color: #d11243; 
}
#blog>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 10px;
}
#blog>div:nth-child(2)>div{
    
    margin-top:15px;
}
#blog>div:nth-child(2)>div>img{
   width: 100%;
   border-radius: 7px;
}
#blog>div:nth-child(2)>div>h3{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 36px;
    color: #4a4a4a;
    text-align: justify;
}
/* info2 */
#info2>img{
   margin-left: 190px;
   margin-top: 20px;
}
#footer{
    width: 75%;
    margin: auto;
    
}
#leftfooter{
    display: flex;
}
#leftfooter>div{
    width: 24%;
    
    padding: 10px 0px;
}
#leftfooter>div>h4{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    color: #4a4a4a;
    margin-top: 10px;
}
#leftfooter>div>p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    color: #4a4a4a;
}
#leftfooter>div>p>a{
    text-decoration: none;
    color: #4a4a4a;
}
#leftfooter>div:nth-child(2)>img{
   width: 50%;
   
}
#leftfooter>div:last-child>img{
    width: 60%;
}
#end{
    text-align: center;
}
#end>p{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    color: #4a4a4a;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 80%;
    margin: auto;
}
#end>h4{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    color: #000000;
    margin-top: 30px;
}
#downfooter{
    display: flex;
    margin-left: 50px;
    align-items: center;
}
#downfooter>h4{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    color: #4a4a4a;
}
#downfooter>img{
    margin-left: 10px;
    width: 18px;
    height: 18px;
}
#footerhead{
    margin-top: 30px;
}
#footerhead>img{
    margin-top: -30px;
    background-color: white;
}

#footerfoot>div>div{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
#footerfoot>div>div>p{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    color: #4a4a4a;
    margin-left: 20px;
}
#footerfoot>hr{
    margin-top: 30px;
    margin-bottom: -15px;
}
#footerfoot>button{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    color: #4a4a4a;
    border: none;
    background-color: white;
    padding-right: 30px;
    
}
 
